:root {
    --primary-violet-color: hsl(257, 40%, 49%);
    --primary-magenta-color: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--primary-violet-color);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat ;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    padding: 0 2.2rem;
    height: 100vh;
    overflow: hidden;
}

header {
    padding: 2.2rem 0;
}

.title {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.text {
    color: white;
    font-size: 1.05rem;
    text-align: center;
    opacity: 0.8;
}

.btn {
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-violet-color);
    background-color: white;
    padding: 12px 0;
    box-shadow: 0px 3px 6px 0px rgba(rgb(0 0 0 / 20%));
    border-radius: 24px;
}

.btn:hover{
    background-color: var(--primary-magenta-color);
    color: white;
}

.link-box {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    gap: 18px;
}

footer a {
    display: grid;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

footer a:hover{
    border: solid 1px var(--primary-magenta-color);    
}

a svg{
    display: grid;
    align-items: center;
    font-size: 0.5rem;
}

a:hover, svg:hover path, svg:hover circle{
    transition: all ease 0.4s;
}

footer a  svg:hover path, svg:hover circle{
    fill: var(--primary-magenta-color);
}

@media screen and (min-width: 990px) {
        
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 3.2rem 3.2rem 1 3.2rem;
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
    }

    header{
        grid-column-start: 1 ;
        grid-column-end: 3 ;
    }

    .container .content  {
        display: flex;
        flex-wrap: wrap;
        padding: 3.2rem 0 3.2rem 2.2rem;
        height: fit-content;
    }

    .title {
        font-size: 2.5rem;
        text-align: left;
    }
    
    .text {
        font-size: 0.8rem;
        text-align: left;
    }
    

    .container .btn{
        text-align: center;
        padding: 12px 0;
    }

    footer{
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: right;
    }    
}
